<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <span>
                    Admin Paneli
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Siteye Git</span></a></li>
                <li><a href="/AdminCar/Index/" class="waves-effect"><i class="fas fa-car"></i><span>Araba İşlemleri</span></a></li>
                <li><a href="/AdminFeature/Index/" class="waves-effect"><i class="fas fa-bus"></i><span>Araba Özellikleri</span></a></li>
                <li><a href="/AdminBrand/Index/" class="waves-effect"><i class="fas fa-business-time"></i><span>Markalar</span></a></li>
                <li><a href="/Admin/AdminBanner/Index/" class="waves-effect"><i class="fas fa-broom"></i><span>Banner Alanı</span></a></li> 
                <li><a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fas fa-info"></i><span>Hakkımızda</span></a></li> 
                <li><a href="/Admin/AdminPricing/Index/" class="waves-effect"><i class="fas fa-money-bill-alt"></i><span>Ödeme Türleri</span></a></li> 
                <li><a href="/Admin/AdminLocation/Index/" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>Lokasyonlar</span></a></li> 
                <li><a href="/Admin/AdminService/Index/" class="waves-effect"><i class="fas fa-pencil-alt"></i><span>Hizmetler</span></a></li> 
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-window-close"></i><span>Çıkış Yap</span></a></li>

            </ul>
        </div>

    </div>
</div>
